<!DOCTYPE html>
<html lang="en">
<head>
    <title>Salt's administration console</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../Styles/menu.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper red">
          <a href="#!" class="brand-logo center">Menu</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card red center">
                    <div class="card-content white-text">
                        <p>Add a new User</p>
                    </div>
                    <div class="card-action">
                        <a href="addUser.html" class="waves-effect waves-light btn red"><i class="material-icons center red">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card red center">
                    <div class="card-content white-text">
                        <p>Add a new Extension</p>
                    </div>
                    <div class="card-action">
                        <a href="addExtension.html" class="waves-effect waves-light btn red"><i class="material-icons center red">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card red center">
                    <div class="card-content white-text">
                        <p>Add an Analyzer</p>
                    </div>
                    <div class="card-action">
                        <a href="addAnalyzer.html" class="waves-effect waves-light btn red"><i class="material-icons center red">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card red center">
                    <div class="card-content white-text">
                        <p>Manage the Analyzer</p>
                    </div>
                    <div class="card-action">
                        <a href="getAnalyzer.html" class="waves-effect waves-light btn red"><i class="material-icons center red">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card red center">
                    <div class="card-content white-text">
                        <p>Get a list of all registered Users</p>
                    </div>
                    <div class="card-action">
                        <a href="getUserList.html" class="waves-effect waves-light btn red"><i class="material-icons center red">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card red center">
                    <div class="card-content white-text">
                        <p>Get a list of all installed Extensions</p>
                    </div>
                    <div class="card-action">
                        <a href="getExtensions.html" class="waves-effect waves-light btn red"><i class="material-icons center red">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card red center">
                    <div class="card-content white-text">
                        <p>Remove a User</p>
                    </div>
                    <div class="card-action">
                        <a href="removeUser.html" class="waves-effect waves-light btn red"><i class="material-icons center red">arrow_forward</i></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card red center">
                    <div class="card-content white-text">
                        <p>Remove an Extension</p>
                    </div>
                    <div class="card-action">
                        <a href="removeExtension.html" class="waves-effect waves-light btn red"><i class="material-icons center red">arrow_forward</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</body>
</html>