<!DOCTYPE html>
<html lang="en">
<head>
    <title>Remove Extension</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper red">
          <div class="col s12">
            <a href="./menu.html" class="breadcrumb">Main Screen</a>
            <a href="#!" class="breadcrumb">Remove Extension</a>
          </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <form id="form" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <label class="col s3">ID:</label>
                        <input type="text" id="id" class="col s6" autofocus>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="center-align">
                <button type="submit" form="form" id="subm" class="waves-effect waves-light btn red"><i class="material-icons center red">delete</i></button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        const axios = require('axios');
        const localStorage = window.localStorage;

        const token = localStorage.getItem('token');

        const form = document.getElementById('form');
        const button = document.getElementById('subm');
        
        button.addEventListener('click', submissionHandler);
        form.addEventListener('submit', submissionHandler);

        function submissionHandler(e) {
            let id = document.getElementById('id').value;
            e.preventDefault();
            axios.delete(localStorage.getItem('serverURL') + '/extensions/' + id, {headers: {
                    'Authorization': `Bearer ${token}`
                }})
            .then((res) => {
                alert('Extension succesfully removed.');
                window.location.replace('menu.html');
            })
            .catch((err) => alert(err))
        }
    </script>
</body>
</html>